.root {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 4;
    -fx-font-size: 15;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.table-view {
    -fx-background-color: black;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-text-fill: #c3c0d1;
}

.table-row-cell:even {
    -fx-background-color: #585461;
}

.table-row-cell:odd {
    -fx-background-color: #545b61;
}


.table-row-cell:filled:selected, .table-row-cell:filled:selected:hover {
    -fx-background-color: transparent;
    -fx-border-radius: 1px;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-background-color: #2a2a2a;
}

.day-button-unmarked {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-font-size: 15;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
}
.day-button-unmarked:hover {
    -fx-background-color: #d6d0bf;
    -fx-text-fill: black;
}
.day-button-present {
    -fx-background-color: #4f9c59;
    -fx-text-fill: black;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-font-size: 15;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
}
.day-button-present:hover {
    -fx-background-color: #115c1b;
    -fx-text-fill: white;
}
.day-button-absent {
    -fx-background-color: #b04141;
    -fx-text-fill: black;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-font-size: 15;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
}
.day-button-absent:hover {
    -fx-background-color: #631e1e;
    -fx-text-fill: white;
}

.day-label {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.calendar-name {
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.dialog-pane {
    -fx-background-color: #414047;
    -fx-border-color: #414047;
    -fx-border-width: 2px;
    -fx-font-family: "Segoe UI";
}

.dialog-pane .content.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

.dialog-pane .header-panel {
    -fx-background-color: #414047;
}

.dialog-pane .header-panel .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.dialog-pane .button-bar .button {
    -fx-background-color: #050202;
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

#HomeName {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#statsRow {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-pref-width: 500;
    -fx-pref-height: 200;
}

#studentCard {
    -fx-border-radius: 15;
    -fx-border-color: #ccc;
    -fx-border-insets: 40;
}

#groupCard {
    -fx-border-radius: 15;
    -fx-border-color: #ccc;
    -fx-border-insets: 40;
}

#groupCountLabel {
    -fx-alignment: CENTER;
}

#studentsContentPane {
    -fx-background-color: black;
    -fx-padding: 20px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 2);
}

#monthLabel {
    -fx-font-size: 18;
    -fx-font-weight: bold;

}
